In [2]:
import plotly.express as px

In [3]:
import numpy as np
import pandas as pd

Lung Cancer Death Rate of Male

In [4]:
male_lung_death = pd.read_csv('CSVs/lung_cancer_number_of_male_deaths.csv')
male_lung_death

,country,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Afghanistan,577,621,678,748,822,888,927,955,979,...,1390,1430,1460,1510,1560,1620,1690,1760,1840,1930
1,Angola,268,268,270,274,281,285,280,277,288,...,351,367,382,397,416,436,458,482,507,532
2,Albania,471,478,477,478,482,497,510,533,559,...,699,716,731,736,741,750,763,781,801,818
3,Andorra,13.7,14.7,15.7,16.1,16.1,15.8,15.8,15.8,15.9,...,21,21.4,21.9,22.2,22.7,23.3,23.7,24.3,24.8,25
4,United Arab Emirates,35.7,37.8,39.8,41.7,44.1,47.2,50.1,53.7,56.7,...,125,144,169,196,218,234,247,260,276,296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Samoa,5.46,5.48,5.49,5.52,5.53,5.53,5.51,5.46,5.44,...,5.52,5.53,5.59,5.67,5.73,5.8,5.89,5.99,6.09,6.18
192,Yemen,280,312,347,388,431,473,495,517,532,...,735,762,794,832,861,899,936,978,1030,1090
193,South Africa,3190,3280,3390,3410,3540,3690,3820,4040,4070,...,4070,4130,4260,4380,4440,4480,4510,4600,4710,4830
194,Zambia,42.8,47.7,52.1,57.5,63,69.4,76,82.6,90,...,185,195,205,217,227,234,243,254,265,277
195,Zimbabwe,452,422,382,360,350,364,361,367,373,...,480,489,494,501,497,495,496,499,507,517

In [4]:
male_life = pd.read_csv('CSVs/life_expectancy_male.csv').iloc[:,:68]

In [5]:
male_employment = pd.read_csv('CSVs/males_aged_15plus_employment_rate_percent.csv').iloc[:,:-3]

Lung Cancer Death Rate of Female

In [6]:
female_lung_death = pd.read_csv('CSVs/lung_cancer_number_of_female_deaths.csv')

In [7]:
female_life = pd.read_csv('CSVs/life_expectancy_female.csv').iloc[:,:68]

In [8]:
female_employment = pd.read_csv('CSVs/females_aged_15plus_employment_rate_percent.csv').iloc[:,:-3]

START!

In [9]:
def horizontal_merge(df1, df2):
    return df1.merge(df2, left_on = ['country', 'Year'], right_on = ['country', 'Year'])

In [10]:
def vertical_merge(df1, df2):
    return pd.concat([df1, df2], ignore_index = True)

In [11]:
def indicator_melt(df, indicator):
    return pd.melt(df, id_vars = df.columns[0], value_vars = df.columns[1:], var_name = 'Year', value_name = indicator)

In [12]:
def pop_melt(df, indicator):
    return pd.melt(df, id_vars = df.columns[:2], value_vars = df.columns[2:], var_name = 'Year', value_name = indicator)

In [13]:
male_life_melt = indicator_melt(male_life, 'LifeExpectancy')
female_life_melt= indicator_melt(female_life, 'LifeExpectancy')

In [14]:
male_death_melt = pop_melt(male_lung_death, 'Death')
female_death_melt= pop_melt(female_lung_death, 'Death')

In [15]:
male = horizontal_merge(male_life_melt,male_death_melt)
female = horizontal_merge(female_life_melt,female_death_melt)

In [17]:
test = vertical_merge(female, male)

In [ ]:
test['Year'] = test['Year'].astype(int)

In [18]:
test[test['country'] == 'United States'] 
# some errors
# 1. cannot see males and females
# 2. not sure why there is 1989
# 3.

            country  Year  LifeExpectancy   1989  Death
177   United States  1990            78.8  54.7k  56.6k
365   United States  1991            78.9  54.7k  58.8k
553   United States  1992            79.0  54.7k  61.1k
741   United States  1993            79.1  54.7k  63.3k
929   United States  1994            79.2  54.7k  65.7k
1117  United States  1995            79.2  54.7k  66.7k
1305  United States  1996            79.3  54.7k  67.6k
1493  United States  1997            79.4  54.7k  68.9k
1681  United States  1998            79.4  54.7k  70.3k
1869  United States  1999            79.5  54.7k  71.7k
2057  United States  2000            79.6  54.7k  72.5k
2245  United States  2001            79.7  54.7k  73.6k
2433  United States  2002            79.8  54.7k  74.4k
2621  United States  2003            80.0  54.7k  75.1k
2809  United States  2004            80.2  54.7k  75.7k
2997  United States  2005            80.4  54.7k  75.5k
3185  United States  2006            80.6  54.7k  75.7k
3373  United States  2007            80.7  54.7k    76k
3561  United States  2008            80.9  54.7k  76.1k
3749  United States  2009            81.1  54.7k  76.4k
3937  United States  2010            81.2  54.7k  77.4k
4125  United States  2011            81.3  54.7k  78.7k
4313  United States  2012            81.3  54.7k  80.1k
4501  United States  2013            81.3  54.7k  81.6k
4689  United States  2014            81.4  54.7k  83.8k
4877  United States  2015            81.4  54.7k  85.9k
5065  United States  1990            71.9  96.4k    97k
5253  United States  1991            72.1  96.4k  97.6k
5441  United States  1992            72.4  96.4k    99k
5629  United States  1993            72.6  96.4k  99.9k
5817  United States  1994            72.9  96.4k   101k
6005  United States  1995            73.1  96.4k  99.2k
6193  United States  1996            73.4  96.4k  97.5k
6381  United States  1997            73.6  96.4k  97.8k
6569  United States  1998            73.8  96.4k  98.2k
6757  United States  1999            74.1  96.4k  98.2k
6945  United States  2000            74.3  96.4k  97.9k
7133  United States  2001            74.5  96.4k    98k
7321  United States  2002            74.7  96.4k  97.7k
7509  United States  2003            74.9  96.4k  97.1k
7697  United States  2004            75.1  96.4k  96.7k
7885  United States  2005            75.3  96.4k  95.4k
8073  United States  2006            75.6  96.4k  94.7k
8261  United States  2007            75.8  96.4k  94.5k
8449  United States  2008            76.0  96.4k    94k
8637  United States  2009            76.2  96.4k  93.8k
8825  United States  2010            76.3  96.4k  94.6k
9013  United States  2011            76.4  96.4k    96k
9201  United States  2012            76.5  96.4k  97.9k
9389  United States  2013            76.5  96.4k  99.6k
9577  United States  2014            76.5  96.4k   103k
9765  United States  2015            76.4  96.4k   106k